@model HouseHubWeb.Models.PessoaViewModel

@{
    ViewData["Title"] = "Criar Cadastro";
}

<h1>Criar Cadastro</h1>

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Meu Perfil</h2>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label">Avatar</label>
                <input asp-for="Avatar" class="form-control" />
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label">Data de Nascimento</label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label">CPF</label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rg" class="control-label">RG</label>
                <input asp-for="Rg" class="form-control" />
                <span asp-validation-for="Rg" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Endereço</h2>
            <div class="form-group">
                <label asp-for="Cep" class="control-label">CEP</label>
                <input asp-for="Cep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label">Estado</label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label">Cidade</label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rua" class="control-label">Rua</label>
                <input asp-for="Rua" class="form-control" />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label">Telefone</label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Enviar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</div>