@model HouseHubWeb.Models.AgendamentoViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid align-content-xl-center">

    <form asp-action="Create" class=" row w-100 h-100">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-xl-6  h-100">
            <div class="form-group  mb-3">
                <label asp-for="DataVisita" class="control-label">INFORME O DIA E HORÁRIO DA VISITA:</label>
                <input asp-for="DataVisita" class="form-control" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />

                <span asp-validation-for="DataVisita" class="text-danger"></span>


            </div>
            

            <div class=" form-group mb-3">
                <label asp-for="Observacoes" class="control-label">OBSERVAÇÕES</label>
                <textarea asp-for="Observacoes" class="form-control" placeholder="Adicionar obeservações:" rows="10" style="resize: none;"></textarea>
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>

            <div class="form-group mb-5">
                <input type="submit" value="AGENDAR" class="btn btn-warning btn-laranja" />
            </div>
        </div>


        <div class="col p-3">
            <div class="mb-3">
                <h3 class="m-0 text-start">Ou se preferir:</h3>
                <a href="https://api.whatsapp.com/send?phone=557999705526&text=Ol%C3%A1%2C+gostaria+de+falar+a+respeito+do+seu+im%C3%B3vel+dispon%C3%ADvel+na+HouseHub" class="btn btn-secondary">
                    @Model.Telefone
                    <img src="~/img/zap.jpg" alt="WhatsApp" height="30px" />
                    <img src="~/img/telefone.png" alt="Telefone" height="30px" />
                </a>
            </div>

        </div>

        @Html.HiddenFor(x => x.IdImovel)

    </form>
</div>


<!--
<div>
    <a asp-action="Index">Back to List</a>
</div>
-->



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        
    </script>
}