@model HouseHubWeb.Models.BuscarImovelViewModel

@{
    ViewData["Title"] = "BuscarImovel";
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="~/css/buscar-imovel.css" />
</head>

<section class="bg-imagem"></section>

<div class="card custom-card" style="width: 400px; top: 100px;">
    <div class="card-header">
        <h2>Busque seu novo lar</h2>
    </div>
    <div class="card-body">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="btn-group mb-2 w-100" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="Modalidade" id="alugar" value="Aluguel" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="alugar">Alugar</label>

                <input type="radio" class="btn-check" name="Modalidade" id="comprar" value="Venda" autocomplete="off">
                <label class="btn btn-outline-primary" for="comprar">Comprar</label>
            </div>
            <span asp-validation-for="Modalidade" class="text-danger"></span>

            <div class="form-group mb-2">
                <input asp-for="Cidade" class="form-control text-white" style="background: rgba(60,63,65, 0.95); height: 50px; border-color: transparent" placeholder="Cidade" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input asp-for="Bairro" class="form-control text-white" style="background: rgba(60,63,65, 0.95); height: 50px; border-color: transparent" placeholder="Bairro" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>

            <div class="d-flex">
                <div class="form-group w-50 mb-2 m-1">
                    <input asp-for="ValorMaximo" class="form-control" placeholder="Valor até" style="height: 50px" />
                    <span asp-validation-for="ValorMaximo" class="text-danger"></span>
                </div>
                <div class="form-group mb-2 w-50 m-1">
                    <input asp-for="Quartos" class="form-control" placeholder="Quartos" style="height: 50px" />
                    <span asp-validation-for="Quartos" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group w-100">
                <input type="submit" value="Buscar" style="height: 50px; border-radius: 10px 10px 0px 0px" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
