@model IEnumerable<HouseHubWeb.Models.ImovelViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<section class="table">

    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <p>
                @($"Imovel disponível para {item.Modalidade}")
            </p>
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.PrecoAluguel</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</section>
