@model LocacaoViewModel

@{
    ViewData["Title"] = "Locar Imóvel";
}


<form asp-action="Create" class="container">
    <div class="form-section">
        <label asp-for="EmailCpf">Alugar para:</label>
        <input asp-for="EmailCpf" type="text" id="cpf-email" placeholder="CPF ou EMAIL:">

        <h2>Informações do usuário:</h2>

        <h3 id="usuario" class="username">@Model.NomeUsuario</h3>

        <p>Aprovado: <span class="approved">R$ 2.000,00</span></p>
        <p>Renda Mensal Estimada: <span class="estimated-income">R$ 40.000,00</span></p>
    </div>

    <div class="summary-section">
        <div class="price-details">
            <p>Aluguel <span>R$ 800,00</span></p>
            <p>Condomínio <span>R$ 800,00</span></p>
            <p>IPTU <span>R$ 800,00</span></p>
            <p>Taxa de serviço <span>R$ 200,00</span></p>
            <hr>
            <p>Total <span class="total">R$ 1.200,00</span></p>
        </div>
        <input type="submit" value="Alugar" class="rent-button" />
    </div>
</form>
